<link rel="stylesheet" href="css/contact_us.css">

<div id="wrap">
	<h1>Contact Us</h1>
	<p>If you are interested in buying or selling a home or have questions, please fill out the form below and a SFLM representative will contact you promptly.</p>

	<form method="POST" action="/contact_us">
		 <label for="first_name">First Name</label>
		 <input type="text" name="first_name">
		 <label for="last_name">Last Name</label>
		 <input type="text" name="last_name">
		 <label for="email">Email</label>
		 <input type="text" name="email">
		 <label for="phone">Phone</label>
		 <input type="text" name="phone"><br/><br/>
		  <label for="comments">Comments and Questions</label><br/><br/>
		 <TEXTAREA NAME="comments" ROWS="10" COLS="107">
		</TEXTAREA><br/>
		 <input type="submit">
	</form>
</div>