<!Doctype html>
<head>
	<title></title>
	
</head>
<body>
	
	<div id="navBg">
		<ul>
			<li><a href="/contact_us">CONTACT</a></li>
			<li><a href="/residential" >RESIDENTIAL</a></li>
			<li class="active"><a href="/">HOME</a></li>	
			
		</ul>
	</div>
	<header>
			<div id="logo">
				<a href="/">
					<img src="assets/Images/sflm_logo_01.png">
					<h5>SOUTH FLORIDA LUXURY MARKET</h5>
				</a>
			</div>

	</header>

	

	<%= yield %>

	<div id="footer">
		&copy; 2015 SFLM. All Rights Reserved. Website Designed and Developed by Cristian and <a href="http://nycda.zone/roberts23/" target="_blank">Tameka</a>
	</div>
	
</body>
</html>